.skillsItem {
   width: 25%;

   .skill {
      text-align: center;
      padding: 0 10px;
   }

   .skillImage {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
      filter: invert(42%) sepia(0%) saturate(1861%) hue-rotate(8deg) brightness(92%) contrast(85%);
   }
}

@media screen and (max-width: 900px) {
   .skillsItem {
      width: 33.33%;
   }
}

@media screen and (max-width: 450px) {
   .skillsItem {
      width: 50%;
   }
}


