.main {
   min-height: 100vh;
}

.mainCont {
   min-height: 100vh;
   padding-top: 80px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
}


.textBlock {
   width: 410px;

}

.title {

}

.photoBlock {
   width: 400px;
}

.photo {
  max-width: 100%;
}

@media screen and (max-width: 900px) {
   .textBlock {
      width: 300px;
      margin: 40px 0 20px;
   }

   .photoBlock {
      width: 300px;
      margin: 20px 0 40px;
   }
}

@media screen and (max-width: 450px) {
   .textBlock {
      width: 100%;
   }

   .photoBlock {
      width: 100%;
   }
}



