.skills {
   min-height: 100vh;
   background-color: var(--palette-platinum);
   color: var(--palette-din-gray);
   padding: 20px 0;
}

.skillsCont {
   display: flex;
   flex-direction: column;
   justify-content: center;
   min-height: 100vh;
}

.skillsList {
   display: flex;
   flex-wrap: wrap;
   row-gap: 30px;
}

.textBlock {
   width: 410px;
}

.title {
   margin-bottom: 80px;
   text-align: center;
}

@media screen and (max-width: 900px) {
   .skills {
      padding: 40px 0;
   }

   .title {
      margin-bottom: 60px;
   }
}



