* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: inherit;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

@font-face {
    font-family: 'GT-America';
    src: url('./assets/fonts/FontsFree-Net-GT-America-Regular-1.eot');
    src: local('☺'), url('./assets/fonts/FontsFree-Net-GT-America-Regular-1.woff') format('woff'), url('./assets/fonts/FontsFree-Net-GT-America-Regular-1.ttf') format('truetype'), url('./assets/fonts/FontsFree-Net-GT-America-Regular-1.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT-America';
    src: url('./assets/fonts/FontsFree-Net-GT-America-Bold-1.eot');
    src: local('☺'), url('./assets/fonts/FontsFree-Net-GT-America-Bold-1.woff') format('woff'), url('./assets/fonts/FontsFree-Net-GT-America-Bold-1.ttf') format('truetype'), url('./assets/fonts/FontsFree-Net-GT-America-Bold-1.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-family: 'GT-America', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--palette-platinum);
    background-color: var(--palette-din-gray);
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 110%;
    margin: 20px 0;
}

h2 {
    font-size: 35px;
    line-height: 110%;
}

h3 {
    font-size: 25px;
    line-height: 110%;
    margin-bottom: 15px;
}

p {
    line-height: 145%;
}

:root {
    --palette-black: #000000;
    --palette-platinum: #E3E3E1;
    --palette-din-gray: #646D67;
    --palette-raisin-black: #262222;

}


@media screen and (max-width: 900px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }
}
